<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"><title>طباعة</title><style type="text/css" media="print">#non-printable { display: none; }</style><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body dir="rtl">

						<link rel="stylesheet" href="%D9%85%D9%88%D8%B9%D8%AF_files/jquery-ui-1.css" type="text/css">
						<script language="JavaScript" src="%D9%85%D9%88%D8%B9%D8%AF_files/jquery_002.js"></script>

						





	

	
	
	<script>
	function escapeColon(selector) {
    return selector.replace(/:/, '\\\\:');
}
	</script>


						<script language="JavaScript" src="%D9%85%D9%88%D8%B9%D8%AF_files/jquery_003.js"></script>
						<script language="JavaScript" src="%D9%85%D9%88%D8%B9%D8%AF_files/jquery.js"></script>
						<script language="JavaScript" src="%D9%85%D9%88%D8%B9%D8%AF_files/jquery_004.js"></script>
						<script type="text/javascript" src="%D9%85%D9%88%D8%B9%D8%AF_files/jquery_005.js"></script>






						<style type="text/css">
							#map_canvas {
								width: 100%;
								height: 100%;
							}
							
							.outputvalue {
								display: inline-block;
								width: 156px;
							}
							
							.label {
								font-weight: bold;
								display: inline-block;
								width: 163px;
							}
							
							.output {
								display: inline-block;
								width: 45%;
								margin: 5px 1px;
							}
							
							.imoi_row {
								border-bottom: 2px solid #000000;
								width: 19cm;
								padding: 20px 5px;
							}
							
							.services_table {
								border: 1px solid;
								border-collapse: collapse;
							}
							
							.services_table td,.services_table th {
								border: 1px solid;
							}
							
							.dotted {
								border-bottom: 2px dotted;
							}
							
							.services_table tbody tr td {
								padding: 7px;
							}
						</style>
						<br>



						<div style="display: inline-block; float: right;" align="center">
							<img alt="HDB36534920" src="%D9%85%D9%88%D8%B9%D8%AF_files/a.jpg">
						</div>
						<div style="clear:both; margin: 34px auto auto; text-align: center; width: 140px; font-family: arial; font-size: 27px; height: 60px;">تذكرة موعد</div>

						<div style="display: block; margin: auto; width: 24%;" align="center">
							<img src="%D9%85%D9%88%D8%B9%D8%AF_files/print_logo.jpg">
						</div>
						<div class="separator"></div>
						<div style="margin: auto; text-align: center; width: 300px; display: block; font-size: 27px; font-family: arial;">الاحوال المدنية</div>

						<br> <br>
						<div class="imoi_row">
							<div class="output" style="width: 223px ! important;">
								<div class="label " style="width: 60px ! important;">
									<label for="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:name_ar3500">المنطقة</label><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id9">
								</span></div>

								<div class="outputvalue dotted">
									<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:name_ar3500">منطقة نجران</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id10">
								</span></div>
							</div>
							<div class="output" style="width: 223px ! important;">
								<div class="label " style="width: 60px ! important;">
									<label for="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:name_ar3000">المدينة</label><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id11">
								</span></div>

								<div class="outputvalue dotted">
									<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:name_ar3000">نجران</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id12">
								</span></div>
							</div>

							<div class="output" style="width: 223px ! important;">
								<div class="label " style="padding-right: 12px; width: 49px ! important;">
									<label for="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:name_ar3">المكتب</label><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id13">
								</span></div>
								<div class="outputvalue dotted" style="width: 130px !important">
									<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:name_ar3">الفرع الرئيسي نجران</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id14">
								</span></div>
							</div>



						</div>
						<div class="">
							<div class="output">
								<div class="label " style="width: 90px ! important;">اسم العميل</div>

								<div class="outputvalue dotted">
									محمد موسى محمد عسيري                                                       <span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id15">
								</span></div>
							</div>
							<div class="output">
								<div class="label " style="width: 90px ! important;">
									رقم الهوية<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id16">
								</span></div>

								<div class="outputvalue dotted">
									1101246179<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id17">
								</span></div>
							</div>
						</div>
						<div class="imoi_row">
							<div style="width: 223px ! important;" class="output">
								<div class="label " style="width: 60px ! important;">
									<label for="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:expiration_dateTime1"><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id18">
				اليوم
			</span></label><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id19">
								</span></div>

								<div class="outputvalue dotted">
									<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:expiration_dateTime11">الخميس</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id20">
								</span></div>
							</div>
							<div style="width: 223px ! important;" class="output">
								<div class="label " style="width: 42px ! important;">
									<label for="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:expiration_dateTime1"><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id21">
			التاريخ
			</span></label><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id22">
								</span></div>

								<div class="outputvalue dotted">
									<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:expiration_dateTime1">١٦/١٢/٢٠٢١</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id23">
									&nbsp;-&nbsp;
									</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:expiration_dateTimeH1">١٢/٠٥/١٤٤٣</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id24">
								</span></div>
							</div>
							<div style="width: 223px ! important;" class="output">
								<div class="label " style="width: 60px ! important;">
									<label for="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:expiration_dateTime1"><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id25">
				الساعة
			</span></label><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id26">
								</span></div>

								<div class="outputvalue dotted">
									<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:expiration_dateTime121" dir="ltr">٠٨:٠٠</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id27">
								</span></div>
							</div>
						</div>
						<div class="imoi_row" style="border-bottom: 0px !important">
							<div class="label ">
								<label for="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:services1">الخدمات</label><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id28">
							</span></div>
							<div class="">
								<div class="">
									<script type="text/javascript">
										function showHideMap(cboxChecked)
										{
											var cboxId = "cBoxIncludeMap";
											var mapRowId = "mapRow";
											
											
											if(cboxChecked){
											$("#mapRow").hide();
											}else{
											$("#mapRow").show();
											}
											return true;
										}
										$(function(){
											$( "#dialog-confirm" ).dialog({
													autoOpen:false,
													resizable: false,
													height:180,
													width:500,
													modal: true,
													buttons:[ {
													 html:'&#1606;&#1593;&#1605;',
														 click: function() {
															
															showHideMap(false);
															printForm();
															$( this ).dialog( "close" );
														}
														},
														{
														 html:'&#1604;&#1575;',click : function() {

															showHideMap(true);
															printForm();
															$(this).dialog("close");
														}
													} ]
												});

											var firstCells = $(".services_table tbody tr td:first-child");
											for (var i = 0; i < firstCells.length; i++) {
												$(firstCells[i]).html(i + 1);
												$(firstCells[i]).css(
														"wdith:45px;");
											}
										});
									</script>
									
									<table id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:services1" class="services_table"><thead><tr><th><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:services1:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id30">		الرقم </span></th><th><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:services1:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id31">		الخدمة </span></th><th><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:services1:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id32">		متطلبات الخدمة </span></th></tr>
</thead><tbody>
<tr><td>1</td>
<td><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:services1:0:name_ar1">تجديد بطاقة الهوية الوطنية</span></td>
<td><ol><li><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:services1:0:j_id_jsp_230455458_42:0:name_ar2">احضار اصل الهوية الوطنية</span></li><li><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:services1:0:j_id_jsp_230455458_42:1:name_ar2">بعد انتهاء تاريخ البطاقة توجد غرامة مالية مقدارها (مائة ريال).</span></li><li><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:services1:0:j_id_jsp_230455458_42:2:name_ar2">اذا كان الموعد المعطى لكم بعد تاريخ انتهاء البطاقة يمكنكم مباشرةً مراجعة مقر الموعد.</span></li></ol></td>
</tr>
</tbody>
</table>
<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id33">
								</span></div>
							</div>
							<br>
							<!-- 
							<div class="">
								<div style="text-align: center; font-weight: bold;">
									</span>&quot;&#1610;&#1580;&#1576; &#1573;&#1581;&#1590;&#1575;&#1585; &#1578;&#1584;&#1603;&#1585;&#1577; &#1575;&#1604;&#1605;&#1608;&#1593;&#1583; &#1605;&#1593; &#1575;&#1604;&#1605;&#1578;&#1591;&#1604;&#1576;&#1575;&#1578;  &#1593;&#1606;&#1583; &#1605;&#1585;&#1575;&#1580;&#1593;&#1577; &#1601;&#1585;&#1608;&#1593; &#1608;&#1605;&#1603;&#1575;&#1578;&#1576; &#1575;&#1604;&#1571;&#1581;&#1608;&#1575;&#1604; &#1575;&#1604;&#1605;&#1583;&#1606;&#1610;&#1577;&quot;<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id34">
								</div>
							</div>
							<div class="">
								<div style="text-align: center; font-weight: bold;">
									</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id35">
								</div>
							</div>
							-->
						</div>
						<div class="separator"></div>
						<div class="imoi_row" style="display: none;">
							<div class="output">

								<div class="label ">
									<label for="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:location_latitude1"><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:location_latitude1labelText">خط الطول</span></label><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id36">
								</span></div>

								<div class="outputvalue dotted">
									<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:location_latitude1">17.4899702</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id37">
								</span></div>
							</div>
							<div class="output">
								<div class="label ">
									<label for="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:location_longtitude1"><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:location_longtitude1labelText">خط العرض</span></label><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id38">
								</span></div>

								<div class="outputvalue dotted">
									<span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:location_longtitude1">44.13434689999997</span><span id="viewns_Z7_0I44H142K0E520AIN18R6F1083_:AAMSS_Form:ns_Z7_0I44H142K0E520AIN18R6F1083_j_id39">
								</span></div>
							</div>
						</div>
						<div id="mapRow" class="imoi_row" style="display: none;">


							<div class="label " style="display: block !important;">كروكي الموقع</div>
							<div class="">
								<div style="width: 400px; height: 250px; margin: auto;">
									<img src="%D9%85%D9%88%D8%B9%D8%AF_files/staticmap.txt" alt="Branch Map" width="400" height="250" border="0">
								</div>
							</div>
						</div>
					<div id="non-printable" align="center"><br><input tabindex="0" title="طباعة" alt="طباعة" type="button" value="طباعة" class="btn_text" onclick="javascript:window.print();"><br><br></div></body></html>