.labels{
    width: 70%;
}
#Requst-botton{
   background-color:  #2eafa1 !important;
   border: #2eafa1 !important;
}
#Requst-botton:hover{
    background-color: #106f65 !important;
  border-color: #106f65 !important;
 }

#myCard{
    padding: 20px !important;
}

#permits-card-body{
    padding: 20px;
}