img {
  height: 40px;
  width: 100px;
  margin-left: 5px;
}

.alert-card {
  width: "20%";
  position: "absolute";
  z-index: "99";
}

.collapsed {
  border: none !important;
}
.App {
  margin-top: 20px;
}
svg {
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.navbar-nav .nav-link {
  color: white;
  margin-top: 20px;
  border-radius: 10px;
}
#dropdown-basic {
  background-color: white;
  border-color: white;
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.83333rem;
  font-weight: 600;
}
#dropdown-basic:hover {
  color: green;
  border-color: white;
}

.Bell {
  cursor: pointer;
  font-size: 20px;
}

.Num-alert {
  position: relative;
  top: -10px;
  left: -15px;
  background-color: red;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 12px;
  color: white;
}

/* #offcanvasNavbarDropdown{
    text-align: right;
    color: rgba(0,0,0,.55);
} */
/* .dropdown-menu.show{

    

} */
/* .dropdown{
     text-align: right;
 } */

.navbar-nav .nav-link:hover {
  background-color: white;
  border-radius: 10px;
  color: black;
  box-shadow: rgba(50, 50, 53, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#offcanvasNavbar {
  background-image: linear-gradient(-45deg, #aac19e, #2eafa1);
}
